@{
    ViewData["Title"] = "Contact Page";
}

<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 pl-md-12 text-center">
                <h2 class="font-weight-light text-black mb-4">Contact</h2>

                <p class="mb-0 font-weight-bold">Address</p>
                <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

                <p class="mb-0 font-weight-bold">Phone</p>
                <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

                <p class="mb-0 font-weight-bold">Email Address</p>
                <p class="mb-0"><a href="#">youremail@domain.com</a></p>
            </div>
        </div>
    </div>
</div>





<div class="site-section">
</div>